<a href="https://colab.research.google.com/github/PrakritiShetty/MachineLearning/blob/main/%232MultivariateRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

Before applying any ML model, u need to preprocess your data

In [2]:
df=pd.read_csv("/content/sample_data/data.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
import math
median_bedrooms= math.floor(df.bedrooms.median())
median_bedrooms

3

In [5]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

Y = intercept + (coef1)X1 + (coef2)X2.....

In [7]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [8]:
reg.intercept_

383724.99999999994

Try predicting for 3000sq ft area, 3 bedrooms, 40 yr old and 2500 sq feet area, 4 bedrooms, 5 yr old

In [14]:
reg.predict([[3000,3,15]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([615025.])